utils==1.0.2
virtualenv==20.26.5
vision-transformers==0.1.1.0
visual-kinematics==0.2.1
voxel51-eta==0.15.1
wadllib==1.3.6
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
widgetsnbextension==4.0.10
wrapt==1.14.1
wsproto==1.2.0
wxPython==4.0.7
xcffib==0.11.1
xdg==5
xkit==0.0.0
xmltodict==1.0.2
xxhash==3.5.0
yacs==0.1.8
yarl==1.18.3
youtube-dl==2021.12.17
zeroconf==0.38.3
zipp==1.0.0
zstandard==0.23.0

